.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 0 30px;
  display: flex;
  flex-direction: column;
}

.tea .titleSection, .tea .titleSection h2, .tea .titleSection p  {
  color: #db7705;
}

.drink .titleSection {
  color: #83a88c;
}
.drink .titleSection p {
  left: 74px;
}

.titleSection {
  text-align: left;
  position: relative;
}
.titleSection h2 {
  font-size: 42px;
  line-height: 40px;
  margin: 0;
}
.titleSection:first-letter {
  float:left;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}
.titleSection p {
  position: absolute;
  top: 17px;
  left: 69px;
  font-size: 18px;
}
.boxWrapper {
  margin-bottom: 70px;
}
.boxContent {
  width: 33.33%;
  float: left;
}
.clear {
  clear: both;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
      max-width: 720px;
      flex-direction: column-reverse;
  }
  .boxContent {
    width: 100%;
    float: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 540px;
    padding: 30px 0;
    flex-direction: column-reverse;
  }
  .boxContent {
    width: 100%;
    float: none;
    padding: 0;
    margin-bottom: 20px;
  }
  .titleSection h2 {
    margin: 15px 0 30px;
  }
  .titleSection p {
    top: 21px;
    font-size: 16px;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column-reverse;
  }
  .boxContent {
    width: 100%;
    float: none;
    padding: 0;
    margin-bottom: 20px;
  }
  .titleSection {
    margin: 0 0 70px;
  }
  .titleSection h2 {
    margin: 15px 0;
  }
  .titleSection p {
    top: 21px;
    font-size: 16px;
  }
  .boxWrapper {
    margin-bottom: 10px;
  }
  .boxWrapper {
    margin-bottom: 10px;
  }

}

