.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 80px 0 30px;
}
.titleSection {
  text-align: left;
  position: relative;
}
.titleSection h2 {
  color: #000;
  font-size: 30px;
}
.titleSection:first-letter {
  float:left;
  font-weight: 700;
  font-size: 90px;
  line-height: 30px;
  text-transform: uppercase;
}
.titleSection p {
  position: absolute;
  top: 16px;
  left: 62px;
}
.boxWrapper {
  margin-bottom: 70px;
}
.boxContent {
  width: 33.33%;
  float: left;
  padding: 0 5px;
}
.clear {
  clear: both;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
      max-width: 720px;
  }
  .boxContent {
    width: 100%;
    float: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .boxContent {
    width: 100%;
    float: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .boxContent {
    width: 100%;
    float: none;
    padding: 0;
    margin-bottom: 20px;
  }

}

